extends layout

block content
  
  .container 
    .row 
      .col-lg-5.mx-auto 
        .card.shadow-sm(style="border-radius:20px; height:85vh")
          .card-body 
            .card-header.bg-white.border-0 
              .d-flex 
                .div
                  //- script.
                    
                  h5.date= date
                  p.small.text-primary= taskCount + ' tasks'
                .div.ms-auto
                  a(href="#exampleModal",data-bs-toggle="modal" data-bs-target="#exampleModal") 
                    i(class='bx bxs-plus-circle display-4 text-primary')
            ul.list-group.list-group-flush.border-0
              each x in todo
                li.list-group-item.list-group-item-action.border-0.d-flex.py-0.task-list
                  if x.status == 1
                    .align-items-center 
                      p.h6.text-success= x.task
                      p(style="font-size:12px").text-muted.ms-auto 7:00 am
                    .bg-white.shadow-sm.position-absolute.p-1.px-3.hover-menu(style="right:15px;border-radius:0px 0px 10px 10px")
                      a(href=`remove/${x._id}`).float-end
                        i(class='bx bxs-trash-alt')
                  else
                    .align-items-center 
                      p.h6.text-danger= x.task
                      p(style="font-size:12px").text-muted.ms-auto 7:00 am
                    .bg-white.shadow-sm.position-absolute.p-1.px-3.hover-menu(style="right:15px;border-radius:0px 0px 10px 10px")
                      a(href=`remove/${x._id}`).float-end
                        i(class='bx bxs-trash-alt')
                      a(href=`#edit_${x._id}` data-bs-toggle="modal" data-bs-target=`#edit_${x._id}`).ms-3 
                        i(class='bx bxs-edit')
                      a(href=`/close/${x._id}`).ms-3 
                        i(class='bx bx-check')
                div(class="modal fade" id=`edit_${x._id}` tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
                  div(class="modal-dialog" )
                    div(class="modal-content bg-light" style="border-radius:25px")
                      div(class="modal-body")
                        form(action=`update/${x._id}`, method="post") 
                            input.form-control.shadow-none.fs-6.border-0(type="text" value=`${x.task}` style="border-radius:10px" placeholder="   enter your task ... " name="task")
                      
              
